<tr <% if (project.slug === 'native') { %>class="table-light" <% } %>>
    <td class="name">
        <%= project.name %>
        <% if (project.new) { %>
            <span style="background-color: red; padding: 4px;">NEW!</span>
        <% } %>
    </td>
    <td><a href="<%= project.demo %>">Demo</a></td>
    <td>
        <% if (project.docs) { %>
            <a href="<%= project.docs %>" target="_blank">Docs</a>
        <% } %>
    </td>
    <td>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: <%= Math.floor((project.size / maxSize) * 100)%>%" aria-valuenow="<%= Math.floor((project.size / maxSize) * 100)%>"
                aria-valuemin="0" aria-valuemax="100"><%= project.size.toFixed(1) %></div>
        </div>
    </td>
</tr>